$accent: #2196f3;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
}

.imageCrop {
  width: 200px;
  height: 200px;
  margin: 5rem 0;
  overflow: hidden;
  border-radius: 50%;

  .image {
    width: 220px;
    margin: -10px 0;
  }
}

.name {
  font-size: 48pt;
  font-weight: normal;

  .nickName {
    color: $accent;
    font-weight: bold;
  }
}

.links {
  display: flex;
}
